.videoCard{
    color: white;
    width: 400px;
    height: 320px;
    padding: 20px;
    transition: transform 250ms;
}
.videoCard>img{
    height: 240px;
    object-fit: contain;
    width: 400px;
}
.videoCard:hover{
    transform: scale(1.09);
}
.videoCard>h2{
    padding-top: 10px;
}
.videoCard__stats {
    display: none;
}
.videoCard:hover>.videoCard__stats {
    display: inline;
}